<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cash.flow"
    android:versionCode="1"
    android:versionName="1.0"
    android:screenOrientation="portrait" >
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <supports-screens
	    android:smallScreens="true"
	    android:normalScreens="true"
	    android:largeScreens="true"
	    android:anyDensity="true" />

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cashflow_icon"
        android:label="@string/app_name"
        android:debuggable="true"
        android:theme="@style/app_theme"
        android:configChanges="locale" >
        <activity
            android:name=".StartUpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cash.flow.activity.EmptyActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.ActivationActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.setting.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.setting.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.setting.SetMarginActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.MainMenuActivity"
            android:theme="@style/app_theme_with_action_bar"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.TransactionActivity"
            android:theme="@style/app_theme_with_action_bar"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.cash.flow.activity.SettingActivity"
            android:theme="@style/app_theme_with_action_bar"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
    </application>

</manifest>